{% set ogDescription =
  description
  or (content | excerpt(140))
%}

<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <!-- OGP -->
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ ogDescription }}" />
    <meta property="og:url" content="{{ page.url | url }}" />
    <meta property="og:image" content="https://shunyamazaki.com/ogp.png" />

    <!-- X -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ description }}" />
    <meta name="twitter:image" content="https://shunyamazaki.com/ogp.png" />
    <meta name="twitter:description" content="{{ ogDescription }}" />

    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/custom.css" />
  </head>
  <body>
    <header>
      <h1>
        <a href="/">コードと余白</a>
      </h1>
      <div class="x-avater">
      </div>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>