{% extends "layout.njk" %}
{% block content %}
  {%- for post in collections.sortedpost -%}
    <article class="article-list-item">
        <a href="{{ post.url }}">
            <h2>{{ post.data.title }}</h2>
            <p>{{ post.templateContent | excerpt(70) }}</p>
            <time>{{ post.data.date | date }}</time>
        </a>
    </article>
  {%- endfor -%}
{% endblock %}